.example-card {
    max-width: 300px;
    margin-bottom: 8px;
    background-color: #615dfb;
    color: #fff;
}

mat-icon:hover {
    cursor: pointer;
    color: #000;
}

img {
    border-radius: 100%;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
