<mat-card *ngFor="let task of dataSource" class="example-card">
    <div class="icons">
        <mat-icon matTooltip="Editar task" (click)="editTask(task.id)" class="mat-18">edit</mat-icon>
        <mat-icon matTooltip="Excluir task" (click)="openDialog(task.id)" class="mat-18">close</mat-icon>
    </div>
    <mat-card-title-group>
        <mat-card-title>{{task.title}}</mat-card-title>
        <mat-card-subtitle>{{task.priority}}</mat-card-subtitle>
        <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba1.jpg">
    </mat-card-title-group>
    <mat-card-content>
        {{task.description}}
    </mat-card-content>
</mat-card>
