.container {
    padding: 4rem;
}

h1 {
    color: #fff;
}

.tasks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

app-card-task {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}