.container {
    padding: 4rem;
}

h1 {
    color: #fff;
}

.tasks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

app-card-task {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.sorry-message {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    mat-icon {
        font-size: 4rem;
        width: auto;
        color: #fff;
    }
}
