.nav-bar-container {
    padding: 1rem;
    font-size: 1rem;
    color: #000;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    p {
        margin: 0;
    }
    ul {
        display: flex;
        align-items: center;
        width: 30%;
        justify-content: space-between;
    }
}

li:hover {
    cursor: pointer;
    color: #615dfb;
}