/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Roboto;
}

html,
body {
    height: 100%;
    text-decoration: none;
    padding: 0;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #272a33;
}